<div class="header">
              <div class="divh1">
                  <a href="index.html"><img src="assets/logo_header.svg" alt="logo_header" class="divh1_logo_header"></a>
              </div>
                  
              
              <div class="divh2">
                  <a href=""><h2>Magasin</h2></a>
                  <a href=""><h2>Communauté</h2></a>
                  <a href=""><h2>Support</h2></a>
                  <img src="assets/loupe.svg" alt="loupe" class="divh2_loupe">
              </div>
             
              <div class="divh3">
                  <a href="#" class="divh6_boutoninstall">Installer Steam</a>
                  <img src="assets/utilisateur.svg" alt="icone_utilisateur" class="divh7_utilisateur">
              </div>
		</div>
		<div style="display: flex;justify-content: flex-start;margin-top: 60px;margin-left: 28.5vw;margin-bottom: -20px;">
          	<img src="assets/flecheg.svg" >
          	<p style="margin-left: 10px;">Magasin</p>
          	<img src="assets/flecheg.svg" style="margin-left: 15px;">
          	<p style="margin-left: 10px;">Catégories</p>
          	<img src="assets/flecheg.svg" style="margin-left: 15px;">
          	<p style="margin-left: 10px;">Action</p>
          	<img src="assets/flecheg.svg" style="margin-left: 15px;">
          	<p style="margin-left: 10px;">Dead by Daylight</p>
        </div>
		<div class="cont1">
          		<h4>Dead by Daylight</h4>
          		<div class="cont1_1">
          			<a href="#"><img src="assets/dead1.svg" alt="image_jeu" class="djm1"></a>
          		</div>
        </div>

        <div class="blocdead1">
        	<div class="blocdead1_1">
        		<h4 style="margin-top: 20px;">A propos</h4>
        		<p class="taille12">Dead by Daylight est un jeu d’action multi-joueurs (4 contre 1) <br>qui vous plonge dans une ambiance de film d’horreur. <br>Chaque joueur joue peut jouer le rôle d’un tueur sanguinaire <br>pendant que les quatre autres tentent de lui échapper <br>en évitant d’être attrapé et tué.
        		</p>
        		<br>
        		<p class="taille12">Les Survivants jouent en troisième personne et ont l’avantage <br>de mieux appréhender la situation.  Le Tueur joue à la première<br>personne et se focalise plus sur ses proies.
        		</p>
        		<br>
        		<p class="taille12">A chaque rencontre, le but des Survivants est de s’échapper <br>du terrain sans se faire attraper par le Tueur <br>(plus facile à dire qu’à faire), surtout lorsque l’environnement<br>change à chaque partie
        		</p>
        		<br>
        		<img src="assets/dead3.svg" style="height: 10.25vw">
        		<p style="margin-top: 15px;" class="taille12">Dead by Daylight est disponible en Edition Standard et Deluxe.</p>
        		<br>
				<p class="taille12">Plus d’information sur http://www.deadbydaylight.com<br>
				Fonctionnalités<br>
				• Survivez Ensemble... ou pas - Les Survivants peuvent décider<br>
				 de coopérer avec les autres ou la jouer solo. <br>
				Vos chances de survie dépendront de votre capacité <br>
				à travailler en équipe ou seul. Saurez-vous être plus malin <br>
				que le Tueur et vous enfuir ?</p><br>

				<p class="taille12">• Mais... Où suis-je? - Chaque niveau est généré aléatoirement,<br>
				vous ne saurez donc jamais a quoi vous attendre. <br>
				La présence de points d’apparition aléatoires signifie<br>
				que vous ne vous sentirez jamais vraiment en sécurité<br>
				alors que l’environnement et ses dangers changent <br>
				à chaque partie.</p><br>

				<p class="taille12">• Un Festival pour les Tueurs - Dead by Daylight s’abreuve <br>
				à toutes les sources du monde de l’horreur. <br>
				Vous pouvez jouer n’importe quel Tueur, des puissant Slashers<br> 
				traditionnels aux entités paranormales les plus terrifiantes. <br>
				Familiarisez-vous avec le terrain et maîtrisez le pouvoir unique <br>
				de chaque Tueur pour chasser, attraper et sacrifier vos victimes.<br>
			    </p>
        	</div>
        	<div class="blocdead1_2">
        		<h4 style="margin-top: 10px;">19,99€</h4>
        		<a href="#" class="boutonacheter" style="margin-top: -20px;">Acheter</a>
        		<div style="background-image: url(assets/dead4.svg); background-size: cover;">
        			<h4 style="font-size: 18px;padding: 7px; text-align: left; margin-left: 10px;">Avis</h4>
        		</div>


				<div class="boitelikename">

	        		<div class="like_name">
	        			<img src="assets/dead5.svg">
	        			<p style="font-family: 'Poppins regular', sans-serif;font-size: 22px;font-weight: 300;color: white;text-align: center;margin-left: 10px;margin-right: 10px;">Yanoux</p>
	        			<img src="assets/dead6.svg">
	        		</div>
	        		<br>
	        		<p class="taille12" style="font-style: italic;">Posté le 19 SEPTEMBRE</p>
	        		<br>
	        		<p class="taille12">Seul ou a plusieurs Dead By Daylight est un jeu permettant de se payer de<br>bons fous rires. Nouveau contenu et Maj assez régulières. <br>Différents gameplays dispo tous très sympa je recommande a 100%
	        		</p>
	        		<img src="assets/dead7.svg" style="float: left;margin-top: 25px;width: 100%;margin-bottom: 25px;">

	        		<div class="like_name">
	        			<img src="assets/dead5.svg">
	        			<p style="font-family: 'Poppins regular', sans-serif;font-size: 22px;font-weight: 300;color: white;text-align: center;margin-left: 10px;margin-right: 10px;">Dolgohan</p>
	        			<img src="assets/dead6.svg">
	        		</div>
	        		<br>
	        		<p class="taille12" style="font-style: italic;">Posté le 03 SEPTEMBRE</p>
	        		<br>
	        		<p class="taille12">C'est un bon jeu mais...c'est la commu la plus cancer que je connaisse,<br>aussi bien en survivant quand tueur. En tueur peu importe comment <br>tu gagne tu te fera insulter a la fin, J'y rejouerai peut être un jour.
	        		</p>
	        		<img src="assets/dead7.svg" style="float: left;margin-top: 25px;width: 100%;margin-bottom: 25px;">

	        		<div class="like_name">
	        			<img src="assets/dead5.svg">
	        			<p style="font-family: 'Poppins regular', sans-serif;font-size: 22px;font-weight: 300;color: white;text-align: center;margin-left: 10px;margin-right: 10px;">Hex</p>
	        			<img src="assets/dead6.svg">
	        		</div>
	        		<br>
	        		<p class="taille12" style="font-style: italic;">Posté le 01 SEPTEMBRE</p>
	        		<br>
	        		<p class="taille12">Une bonne tranche de flippète et de rire ! Je le recommande !
	        		</p>
	        		<img src="assets/dead7.svg" style="float: left;margin-top: 25px;width: 100%;">
	        		</div>
	        		<div style="background-image: url(assets/dead4.svg); background-size: cover;">
        				<h4 style="font-size: 18px;padding: 7px; text-align: left; margin-left: 10px;">Carrousel d'images</h4>
        			</div>
        			<div class="dead8_dead9">
        				<img src="assets/dead8.svg" style="width: 50%">
        				<img src="assets/dead9.svg" style="width: 50%">
        			</div>
        		</div>


        	
        </div>
        <div style="display: flex;justify-content: center;flex-direction: column;margin-top: 50px;align-items: center;">
        	<h4>19,99€</h4>
        		<a href="#" class="boutonacheter" style="margin-top: -10px;">Acheter</a>
        </div>

        <h4 style="float: left;margin-bottom: 60px;margin-left: 20vw;">Plus du même genre</h4>
        <div style="display: flex;justify-content: center;width: 100%">
        	<div class="dead10-11-12">
        		<img src="assets/dead10.svg" >
        		<p>Friday the 13th: The Game</p>
        		
        		<p>16,79€</p>
        	</div>
        	<div style="margin-left: 40px;margin-right: 40px;" class="dead10-11-12">
        		<img src="assets/dead11.svg" >
        		<p>Friday the 13th: The Game</p>
        		
        		<p>16,79€</p>
        	</div>
        	<div class="dead10-11-12">
        		<img src="assets/dead12.svg">
        		<p>Friday the 13th: The Game</p>
        		
        		<p>16,79€</p>
        	</div>
        </div>

		<div class="footerr"> 
          	<div class="footer">
              <a href="#" class="Bouton_2">Installer Steam</a>
              <img src="assets/logo_windows.svg" style="margin-left: 30px;margin-right: 10px;">
              <img src="assets/logo_mac.svg">
          	</div>
      	</div>