<div class="header">
      <div class="divh1">
          <a href="index.html"><img src="assets/logo_header.svg" alt="logo_header" class="divh1_logo_header"></a>
      </div>
          
      
      <div class="divh2">
          <a href="magasin.html"><h2>Magasin</h2></a>
          <a href=""><h2>Communauté</h2></a>
          <a href=""><h2>Support</h2></a>
          <img src="assets/loupe.svg" alt="loupe" class="divh2_loupe">
      </div>
     
      <div class="divh3">
          <a href="#" class="divh6_boutoninstall">Installer Steam</a>
          <img src="assets/utilisateur.svg" alt="icone_utilisateur" class="divh7_utilisateur">
      </div>
  </div>

  <div class="bloc1_acceuil">
      <div class="bloc1_acceuil_1">
          <img src="assets/logo_steamA1.svg" class="logo_steamA1">
          <h1 class="h1-1">Votre plateforme communautaire<br> de jeu idéale.</h1>
          <div class="bloc1_acceuil_1_1">
              <a href="#" class="Bouton_1">Installer Steam</a>
              <img src="assets/logo_windows.svg" style="margin-left: 20px;margin-right: 10px;">
              <img src="assets/logo_mac.svg">
          </div>
      </div>
      <div class="bloc1_acceuil_2">
          <img src="assets/j1.svg" class="j1">
      </div>
  </div>

  <div class="bloc2_acceuil">
      <img src="assets/planisphere.svg" class="planisphere">
  </div>

  <div class="bloc3_acceuil">
      <div class="bloc3_acceuil_1">
          <img src="assets/enligne.svg" alt="rond_bleu" class="enligne">
          <p class="number">1,053,221</p>
      </div>
      <div class="bloc3_acceuil_2">
          <img src="assets/enjeu.svg" alt="rond_vert" class="enjeu">
          <p class="number">405,369</p>
      </div>
  </div>

  <div class="bloc4_acceuil">
      <h2 style="margin-top: 20px">Magasin</h2>
      <p class="paramag">Parcourez une grande diversité d'offres.<br>Contenus exclusifs,<br>plus de 30 000 variétés de jeux et bien d'autres encore.  </p>
      <a href="#" class="lienmag">Je veux parcourir le magasin</a>
  </div>

  <div class="bloc5_acceuil">
      <h2 style="margin-top: 10px">Communauté</h2>
      <p class="paramag">Créez des groupes, formez des clans,<br>rejoignez des discussions en jeu et bien plus.<br>Partagez votre expérience avec plus<br>de 100 Millions de joueurs.</p>
      <a href="#" class="lienmag">Je veux rejoindre la communauté </a>
  </div>

  <div class="bloc6_acceuil">
      <h2 style="margin-top: 40px">Support</h2>
      <p class="paramag">F.A.Q, demandes d'aide.<br>Accédez à notre support à l'écoute. </p>
      <a href="#" class="lienmag">Je veux accéder au Support</a>
  </div>

  <div class="footerr"> 
    <div class="footer">
      <a href="#" class="Bouton_2">Installer Steam</a>
      <img src="assets/logo_windows.svg" style="margin-left: 30px;margin-right: 10px;">
      <img src="assets/logo_mac.svg">
    </div>
</div>
