<div class="header">
              <div class="divh1">
                  <a href="index.html"><img src="assets/logo_header.svg" alt="logo_header" class="divh1_logo_header"></a>
              </div>
                  
              
              <div class="divh2">
                  <a href=""><h2>Magasin</h2></a>
                  <a href=""><h2>Communauté</h2></a>
                  <a href=""><h2>Support</h2></a>
                  <img src="assets/loupe.svg" alt="loupe" class="divh2_loupe">
              </div>
             
              <div class="divh3">
                  <a href="#" class="divh6_boutoninstall">Installer Steam</a>
                  <img src="assets/utilisateur.svg" alt="icone_utilisateur" class="divh7_utilisateur">
              </div>
		</div>

		
		<div style="display: flex;justify-content: flex-end;margin-right: 20vw;margin-top: 25px;">
			<img src="assets/navbar.svg" style="width: 22%;">
		</div>
		<div style="display: flex;justify-content: flex-start;margin-top: 10px;margin-left: 28vw;">
          	<img src="assets/flecheg.svg" >
          	<p style="margin-left: 10px;">Magasin</p>
        </div>
        <div class="barremag">
          	<div class="barremagbloc1">
          		<a href="#" style="margin-left: 30%;text-decoration: none;color: white;font-family: 'Poppins regular', sans-serif;font-size: 14px;font-weight: 100;">Votre magasin</a>
          	</div>
          	<div class="barremagbloc2">
          		<a href="#" style="margin-left: 30%;text-decoration: none;color: white;font-family: 'Poppins regular', sans-serif;font-size: 14px;font-weight: 100;">Catégories</a>

          	</div>
          	<div class="barremagbloc3">
          		<a href="#" style="margin-left: 25%;text-decoration: none;color: white;font-family: 'Poppins regular', sans-serif;font-size: 14px;font-weight: 100;">Cartes cadeau</a>

          	</div>
          	<div class="barremagbloc4">
          		<a href="#" style="margin-left: 30%;text-decoration: none;color: white;font-family: 'Poppins regular', sans-serif;font-size: 14px;font-weight: 100;">Panier</a>
          	</div>  	
        </div>
          

        <div class="cont1">
          		<h3>Offres spéciales</h3>
          		<div class="cont1_1">
          			<a href="#"><img src="assets/jm1.svg" alt="image_jeu" class="djm1"></a>
          			<a href="#"><img src="assets/jm2.svg" alt="image_jeu" style="margin-left: 15px;margin-right: 15px;" class="djm2"></a>
          			<a href="#"><img src="assets/jm3.svg" alt="image_jeu" class="djm3"></a>
          		</div>
        </div>
          <div class="cont1">
          		<h3>Populaires et recommandés</h3>
          		<div class="cont1_1">
          			<a href="#"><img src="assets/jm4.svg" alt="image_jeu" class="djm1"></a>
          		</div>
          </div>
          <div class="cont2titre">
          
          </div>
          <div class="cont2">
          		<div class="cont2_1">
          			<h3 style="width: 33%;">Nouveautés</h3>
          			<h3 style="width: 33%;">Meilleures ventes</h3>
          			<h3 style="width: 33%;">A venir</h3>
          			<a href="#"><img src="assets/jm6.svg" alt="image_jeu" class="djm1"></a>
          			<a href="deadbydaylight.html"><img src="assets/jm7.svg" alt="image_jeu" style="margin-left: 15px;margin-right: 15px;" class="djm2"></a>
          			<a href="#"><img src="assets/jm8.svg" alt="image_jeu" class="djm3"></a>
          			<a href="#"class="djmtop"><img src="assets/jm9.svg" alt="image_jeu" class="djm1"></a>
          			<a href="#"class="djmtop"><img src="assets/jm10.svg" alt="image_jeu" style="margin-left: 15px;margin-right: 15px;" class="djm2"</a>
          			<a href="#"class="djmtop"><img src="assets/jm11.svg" alt="image_jeu" class="djm3"></a>
          			<a href="#"class="djmtop"><img src="assets/jm12.svg" alt="image_jeu" class="djm1"></a>
          			<a href="#"class="djmtop"><img src="assets/jm13.svg" alt="image_jeu" style="margin-left: 15px;margin-right: 15px;" class="djm2"</a>
          			<a href="#"class="djmtop"><img src="assets/jm14.svg" alt="image_jeu" class="djm3" ></a>
          		</div>
          </div>



         
          <div class="footerr"> 
          	<div class="footer">
              <a href="#" class="Bouton_2">Installer Steam</a>
              <img src="assets/logo_windows.svg" style="margin-left: 30px;margin-right: 10px;">
              <img src="assets/logo_mac.svg">
          	</div>
      	</div>